<!-- Srart Nav -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand font-weight-bold float-left" routerLink="/"> ACT </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="tool-menu list-unstyled text-center font-weight-bold">
                <li class="d-inline-block ml-3">
                    <a routerLink="/login">
                        <i class="fa fa-user fa-lg" title="login"></i>
                    </a>
                </li>
                <li class="d-inline-block ml-3 search-btn">
                    <a>
                        <i class="fa fa-search fa-lg" title="search"></i>
                    </a>
                </li>
                <li class="nav-item d-inline-block ml-3 dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-shopping-cart fa-lg" title="cart"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#" *ngFor="let cartitem of cartItems">
                            {{productServ.getProductById(cartitem.productId).name}}
                            <span class="badge badge-success pull-right">{{cartitem.amount}} </span>
                        </a>
                        <a class="dropdown-divider"></a>
                        <a class="dropdown-item" routerLink="/myCart" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"> MY CART</a>
                    </div>
                </li>
            </ul>
            <div class="search-box w-100 m-auto">
                <form class="form-inline">
                    <input class="form-control w-75" type="search" placeholder="Type What’re looking for">
                    <button class="btn btn-danger d-inline ml-2 w-auto" type="submit"> Search</button>
                </form>
            </div>
        </div>
    </div>
</nav>
