<section class="summer-shopping py-5 text-white">
    <div class="container">
        <div class="row">
            <div class="summer-section summer-one col-md-6 ">
                <div class="overly-des">
                    <div class="content text-center">
                        <h4 class="lead font-weight-bold"> Best Summer Collection</h4>
                        <a class="btn btn-danger mt-3">
                            <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="summer-section summer-two col-md-6 ">
              <div class="overly-des">
                  <div class="content text-center">
                      <h4 class="lead font-weight-bold"> Best Summer Collection</h4>
                      <a class="btn btn-danger mt-3">
                          <i class="fa fa-arrow-circle-right"></i>
                      </a>
                  </div>
              </div>
            </div>

        </div>
    </div>
</section>