<section class="about-us my-5 text-center">
    <div class="container">
        <div class="col-md-6 about bg-white py-4 mt-4 float-left">
            <h3 class="text-uppercase text-uppercase m-auto"> About Us </h3>
           <div class="row py-1">
               <div class="col-4 col-sm-6 d-none d-lg-block">
                   <img src="../../assets/images/man-in-blue.jpg" alt="personJackt">
               </div>
               <div class="col-8 col-sm-6 ">
                   <p class="laed text-center text-content d-block">
                       Since 2015, Techado has been the best selling and Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ipsum numquam ea consequatur harum nihil? consectetur adipisicing elit.
                   </p>
               </div>
           </div>
        </div>
        <div class="col-md-6 testmonial mt-4 py-4 bg-dark text-center float-right text-white">
            <h3 class="m-auto text-uppercase"> What They Say?</h3>
            <div id="carouselExampleCaptions" class="carousel slide my-5"  data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <i class="fa fa-comments fa-3x"></i>
                        <p class="lead d-block">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi praesentium optio odit quia rem cumque.
                        </p>
                        <span class="bg-white text-danger font-weight-bold">- Hisham Barakat -</span>

                    </div>
                    <div class="carousel-item">
                        <i class="fa fa-comments fa-3x"></i>
                        <p class="lead d-block">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi praesentium optio odit quia rem cumque.
                        </p>
                        <span class="bg-white text-danger font-weight-bold">- Saleh Hassan -</span>
                    </div>
                    <div class="carousel-item">
                        <i class="fa fa-comments fa-3x"></i>
                        <p class="lead d-block">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi praesentium optio odit quia rem cumque.
                        </p>
                        <span class="bg-white text-danger font-weight-bold">- Hadeer Mohamed -</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>