<!-- Start Header -->
<header class="header text-center">
    <div class="container">
        <div class="header-content">
            <div class="header-text text-white d-none d-sm-block">
                <h1>Shop Today With <span>20%</span> Discount</h1>
                <p class="lead">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim modi mollitia non. Adipisci blanditiis ea nam nihil nobis quasi recusandae reiciendis repellat temporibus? Alias assumenda enim nisi obcaecati perferendis similique.
                </p>
                <a class="btn btn-danger shadow" href="#"> Shop Now  </a>
            </div>

        </div>
    </div>

</header>