<section class="subscribe shadow mb-5">
    <div class="container">
        <div class="overly"></div>
        <div class="subscribe-body text-center text-white py-5">
            <h2 class="text-uppercase"> Subscribe To Get The Newest Collections</h2>
            <p class="lead"> Your Email Will Be Save</p>
            <form class="mt-4">
                <div class="form-group">
                    <input class="form-control text-center m-auto" type="email" placeholder="Enter Email" required>
                </div>
                <button class="btn btn-danger" type="submit"> Subscribe</button>
            </form>
        </div>

    </div>

</section>